## - using customized template
<div class="starter-template">
        <h2>Output Page</h2>
        <p>Enter some user input</p>
    </div>

	## search box
	<form  action="/output" method="GET">
        <div class="form-group">
          <label for="ID">City  Name:</label>
          <input type="text" id="ID" name='ID' placeholder="e.g. ">
        </div>
        <div>
          <button type="submit" class="btn btn-default btn-lg">Find this city!</button>
        </div>
      </form>
	  

	  ## background images
	  <div style="background-image: url(../static/img/bg4.jpg); background-repeat: no-repeat; width:800px; height: 400px; "></div>
	  
## code for giving cheers according to the score

	<h4>
		<br></br>
		{% if teamRec.odds < 0.2 %}
			Just enjoy the game
		{% elif teamRec.odds > 0.8 %}
			Hooray!
		{% else %}
			{% if teamRec.yourName == teamRec.tgtName %}
				You may want to play with some other team
			{% else %}
				You may want to consider the following suggestions
			{% endif %}
		{% endif %}
		</h4>