{% extends "base.html" %}
{% block content %}

<div style="text-align:center;width:100%;margin-top:-20px">
<iframe src="https://docs.google.com/presentation/embed?id=1hmM2tAQdAfkkaLpmg4rtGY3DP2xSofNjNstzd1MP0ws&amp;start=false&amp;loop=false&amp;" frameborder="0" width="1000" height="780""></iframe>

<!-- <iframe src="https://docs.google.com/presentation/embed?id=1KJmLxv5bezhxFcel01mIXeuUM0AyF_IiC5pNmKy6KAw&amp;start=false&amp;loop=false&amp;" frameborder="0" width="1000" height="780""></iframe> -->


</div>div>
{% endblock %}