{% extends "base.html" %}
{% block content %}

<div class="container theme-showcase" role="main">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron transJumbo">
		<h4 class="h4High">
		<table class="table table2">
			<tr><td class="tableHead" align="center">Your team</td><td align="center">vs.</td><td class="tableHead" align="center">Your opponent</td></tr>
			<tr><td align="center">{{teamRec.yourName}}</td><td align="center"></td><td align="center">{{teamRec.tgtName}}</td></tr>
			<tr><td align="center"><img src="../static/img/{{teamRec.yourName}}.png" alt="..." style="width:110px;height:110px"></td><td></td><td align="center"><img src="../static/img/{{teamRec.tgtName}}.png" alt="..." style="width:110px;height:110px"></td></tr>
		</table>
		</h4>
		
		<h5 class="h5High">
		Currently the chance of winning for your team, {{teamRec.yourName}}, is
		
		<div class="label label-info labelLarge"> {{teamRec.odds}}</div>
		<br></br>
		{% if teamRec.yourName != teamRec.tgtName %}
		10% improvement in the aspects below can increase your chance of winning to

		<div class="label label-info labelLarge"> {{teamRec.oddsNew}}</div>
		{% endif %}
		</h5>
		<h5 class="h5High">
		
		<table class="table table-hover">
			<tr><th class="tdText">Improve the accuracy of</th><th class="tdText">Do more</th><th class="tdText">Watch out your opponent's</th></tr>
			{% if teamRec.yourName != teamRec.tgtName %}
				{% for ii in teamRec.actions%}
					<tr><td class="tdText">{{ii[0]}}</td><td class="tdText">{{ ii[1] }}</td><td class="tdText">{{ ii[2] }}</td></tr>
				{% endfor %}
			{% endif %}
		</table>
		</h5>
		
	</div>
</div> <!-- /.container-->

{% endblock %}